pandas~=2.3.2
tensorflow~=2.21.0
numpy~=2.2.6
pyEDFlib~=0.1.42
matplotlib~=3.10.8
ipympl~=0.10.0
mne-qt-browser~=0.7.4
PyQt5~=5.15.11
scipy~=1.15.3
statsmodels~=0.14.5
openpyxl~=3.2.0b1
scikit-learn
portion
pytest